<div class="jumbotron">
    <h1>Blue Alexa</h1>
    <img src="~/Content/Images/alexa.png" />
    <p class="lead">The Alexa Setup & Authentication screens communicate
the value of Alexa and help customers connect a
partner device to their Amazon account. The setup flow
typically lives within the first run experience on a
partner device or app.</p>
    <p>@Html.ActionLink("Open Alexa", "Index", "AlexaHome", new { area = "" }, null)</p>
</div>
